.main-container {
    grid-area: main;
    /* overflow: auto; */
    width: 100%;
    padding: 20px 20px;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
    color: #222;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #edf0fa;
    color: #000;
    border: none;
    border-bottom: 4px solid #ffffff;

    &:hover{
        box-shadow: 2px 4px 4px #cdcdcd;
    }
  }
  
  .card:first-child {
    border-color: #76a1d5;
  }
  
  .card:nth-child(2) {
    border-color: #d45252;
  }
  
  .card:nth-child(3) {
    border-color: #4bcebc;
  }
  
  .card:nth-child(4) {
    border-color: #1546c3;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    min-height: 440px;
  }

  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }